.clients
	background: $light-light-red
	
	.container
		padding: 100px

		@media screen and (max-width: 770px)
			padding: 100px 0

		h3
			font-family: $main-font-bold
			text-transform: uppercase
			font-size: 1.2em
			color: $dark-blue
			letter-spacing: 0.2em

		.wrapper
			width: 90%
			margin: 0 auto
			padding-top: 30px

			@media screen and (max-width: 770px)
				width: 50%

			img
				padding: 20px