@font-face {
  font-family: "Main Font";
  src: url("../fonts/brown-regular.woff"); }
@font-face {
  font-family: "Main Font Bold";
  src: url("../fonts/brown-bold.woff"); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 70%;
  margin: 0 auto;
  text-align: center; }
  @media screen and (max-width: 770px) {
    .container {
      width: 100%; } }

a {
  text-decoration: none; }

.dark-blue-section {
  background: #042B34;
  width: 100%;
  font-size: 2em;
  line-height: 1.5em;
  color: white;
  font-family: Main Font;
  padding: 100px 0; }
  @media screen and (max-width: 400px) {
    .dark-blue-section {
      padding: 50px 0; } }

.text-container {
  width: 26em;
  text-align: center;
  margin: 0 auto; }
  @media screen and (max-width: 770px) {
    .text-container {
      width: 18em;
      margin: 0 auto;
      text-align: center; } }
  @media screen and (max-width: 400px) {
    .text-container {
      width: 14em;
      font-size: 0.65em;
      line-height: 1.5em; } }

.section-title {
  text-transform: uppercase;
  font-size: 0.65em;
  font-family: Main Font Bold;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 0.2em; }

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  background: white;
  z-index: 10; }
  @media screen and (max-width: 400px) {
    nav {
      display: none; } }
  @media screen and (max-width: 770px) {
    nav {
      display: none; } }
  nav ul {
    position: absolute;
    top: 40%; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        text-decoration: none;
        font-family: Main Font;
        color: #66CCCC;
        padding-right: 80px;
        padding-top: 20px;
        padding-bottom: 20px; }
      nav ul li:first-child {
        padding-right: 100px; }

header {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #FCF8F3; }

.header-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 19em;
  font-family: Main Font; }
  @media screen and (max-width: 770px) {
    .header-container {
      width: 20em; } }

.header-title {
  font-size: 4em;
  padding-bottom: 20px;
  color: #042B34; }
  @media screen and (max-width: 400px) {
    .header-title {
      font-size: 3em; } }

.header-content {
  font-size: 1.5em;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5em; }
  @media screen and (max-width: 400px) {
    .header-content {
      font-size: 1.3em;
      line-height: 1.3em; } }

.show-me {
  font-family: Main Font Bold;
  color: #66CCCC; }

.services {
  text-align: center;
  height: 71.7321%;
  width: 100%;
  background: #66CCCC;
  padding-top: 8.3645%;
  font-family: Main Font;
  color: white; }
  @media screen and (max-width: 770px) {
    .services {
      height: auto;
      padding: 15% 0; } }

.services-link {
  display: none; }

.services-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 1.2em; }
  @media screen and (max-width: 400px) {
    .services-title {
      margin-top: 10%; } }

.services-picture {
  border: 1px solid white;
  width: 70.6922%;
  height: 45.979%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  background: #66CCCC; }
  @media screen and (max-width: 400px) {
    .services-picture {
      height: 20%;
      width: 90%;
      margin-top: 10%; } }
  @media screen and (max-width: 770px) {
    .services-picture {
      width: 60%;
      height: 250px; } }
  .services-picture span {
    text-align: center;
    margin: auto; }

.services-list {
  margin-top: 1.5%;
  text-align: center; }
  @media screen and (max-width: 400px) {
    .services-list {
      margin-top: 10%;
      margin-bottom: 30px;
      font-size: 0.5em; } }
  @media screen and (max-width: 770px) {
    .services-list {
      padding-top: 50px; } }
  .services-list li {
    display: inline;
    list-style: none;
    margin-left: 8px;
    margin-right: 8px;
    color: #042B34;
    font-weight: bold;
    padding-right: 1%; }
    .services-list li:last-child {
      padding-right: 0; }
    @media screen and (max-width: 400px) {
      .services-list li {
        display: block;
        padding-bottom: 0.6em; } }
    @media screen and (max-width: 770px) {
      .services-list li {
        display: block;
        line-height: 2em;
        font-size: 1.8em;
        letter-spacing: 0.05em; } }
    .services-list li:first-child {
      margin-left: 0; }

.section-container {
  width: 70%;
  border-left: 5px solid rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  font-family: Main Font; }
  @media screen and (max-width: 770px) {
    .section-container {
      width: 85%; } }
  @media screen and (max-width: 400px) {
    .section-container {
      border: none; } }

.project-hidden {
  display: none; }

.project-container {
  width: 100%;
  padding-bottom: 5%; }
  @media screen and (max-width: 400px) {
    .project-container {
      padding-bottom: 25%; } }

.picture {
  float: left;
  width: 20%;
  text-align: center; }
  @media screen and (max-width: 770px) {
    .picture {
      width: 35%; } }
  @media screen and (max-width: 400px) {
    .picture {
      clear: both;
      width: 100%;
      text-align: left;
      padding-bottom: 15px; } }

.project-info {
  float: right;
  width: 75%; }
  @media screen and (max-width: 770px) {
    .project-info {
      width: 65%; } }
  @media screen and (max-width: 400px) {
    .project-info {
      clear: both;
      width: 100%; } }

.project-name {
  font-size: 1.5em;
  letter-spacing: 0.02em;
  color: #042B34;
  padding-bottom: 1em;
  font-family: Main Font Bold; }
  @media screen and (max-width: 770px) {
    .project-name {
      line-height: 1.5em; } }

.client-name {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 1em;
  font-family: Main Font Bold; }
  @media screen and (max-width: 770px) {
    .client-name {
      line-height: 1.5em; } }

.project-description {
  float: left;
  width: 60%;
  line-height: 2em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 1em;
  padding-right: 5%; }
  @media screen and (max-width: 770px) {
    .project-description {
      width: 100%; } }

.read-more {
  display: none; }

.project-services {
  float: right;
  width: 33%;
  line-height: 2em;
  color: rgba(0, 0, 0, 0.4); }
  @media screen and (max-width: 770px) {
    .project-services {
      display: none; } }
  .project-services h5 {
    color: #66CCCC;
    font-size: 0.7em;
    text-transform: uppercase;
    font-family: Main Font Bold;
    letter-spacing: 0.2em; }

.link {
  clear: both;
  padding-left: 25%; }
  @media screen and (max-width: 770px) {
    .link {
      padding-left: 40%; } }
  @media screen and (max-width: 400px) {
    .link {
      padding: 0; } }
  .link a {
    color: #66CCCC;
    padding-right: 3em; }

.see-more {
  display: block;
  margin: 40px auto;
  width: 18%;
  color: #66CCCC;
  font-family: Main Font Bold;
  border: 2px solid #66CCCC;
  border-radius: 2px;
  padding: 20px 10px;
  text-align: center; }
  @media screen and (max-width: 770px) {
    .see-more {
      padding: 20px 30px; } }
  @media screen and (max-width: 400px) {
    .see-more {
      width: 30%;
      padding: 15px 30px; } }

.clients {
  background: #FCF8F3; }

.clients-container {
  padding-top: 100px;
  padding-bottom: 60px;
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  @media screen and (max-width: 770px) {
    .clients-container {
      padding: 100px 0; } }

.clients-title {
  font-family: Main Font Bold;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #042B34;
  letter-spacing: 0.12em; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 3%;
  padding-bottom: 3%; }
  @media screen and (max-width: 770px) {
    .wrapper {
      width: 50%; } }
  .wrapper img {
    padding: 20px; }

.values-detailed {
  width: 100%;
  background: #66CCCC;
  text-align: center;
  color: white;
  font-family: Main Font; }

.wrap {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0; }
  @media screen and (max-width: 770px) {
    .wrap {
      width: 90%;
      padding-top: 6em; } }
  @media screen and (max-width: 400px) {
    .wrap {
      width: 90%;
      margin: 0 auto; } }

.item {
  width: 17.58%;
  display: inline-block;
  text-align: center;
  margin: 0 75px; }
  @media screen and (max-width: 770px) {
    .item {
      width: 26em;
      margin: 0 auto;
      padding-bottom: 3em; } }
  @media screen and (max-width: 400px) {
    .item {
      width: 80%;
      margin: 0 auto; } }
  .item:last-child p {
    width: 75%;
    margin: 0 auto; }
    @media screen and (max-width: 770px) {
      .item:last-child p {
        width: 26em; } }
    @media screen and (max-width: 400px) {
      .item:last-child p {
        width: 15em; } }

.pic {
  border: 1px solid white;
  width: 100%;
  height: 170px;
  margin-bottom: 25px; }
  @media screen and (max-width: 770px) {
    .pic {
      width: 50%;
      margin: 0 auto; } }

.values-title {
  margin-bottom: 25px; }
  @media screen and (max-width: 770px) {
    .values-title {
      font-size: 1.5em;
      padding-top: 20px; } }

.values-content {
  line-height: 1.5em;
  letter-spacing: 0.025em; }

.team {
  box-sizing: border-box;
  font-family: Main Font; }

.team-container {
  width: 75%;
  margin: 8% auto;
  margin-top: 5%; }
  @media screen and (max-width: 770px) {
    .team-container {
      width: 90%;
      margin: 0 auto;
      padding: 15% 0; } }
  @media screen and (max-width: 400px) {
    .team-container {
      width: 80%;
      margin: 0 auto; } }

.team-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.5em;
  font-weight: bold;
  color: #042B34; }

.tm-container {
  width: 18em;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 2%; }
  @media screen and (max-width: 770px) {
    .tm-container {
      width: 35em; } }
  @media screen and (max-width: 400px) {
    .tm-container {
      width: 20em;
      padding: 0; } }

.tm-image {
  width: 80%;
  padding-bottom: 5%; }
  @media screen and (max-width: 770px) {
    .tm-image {
      float: left;
      width: 28%;
      padding-top: 5%; } }
  @media screen and (max-width: 400px) {
    .tm-image {
      clear: both;
      width: 40%; } }

@media screen and (max-width: 770px) {
  .text-info {
    float: right;
    width: 65%; } }
@media screen and (max-width: 400px) {
  .text-info {
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0; } }

.name {
  text-align: left;
  font-size: 1.5em;
  color: #042B34;
  padding: 10% 0;
  padding-bottom: 5%;
  letter-spacing: 0.05em; }

.position {
  color: #66CCCC;
  padding-bottom: 5%;
  font-weight: bold; }

.description {
  line-height: 2em;
  color: rgba(0, 0, 0, 0.5); }

.prev {
  padding-top: 5%;
  padding-bottom: 5%;
  color: #042B34;
  font-weight: bold; }

.prev-list {
  padding-bottom: 5%; }

.prev-list-item {
  padding-bottom: 1.15em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 770px) {
    .prev-list-item {
      line-height: 1.2em; } }

.tm-link {
  color: #66CCCC;
  text-decoration: none;
  padding-right: 20%; }
  @media screen and (max-width: 770px) {
    .tm-link {
      display: block;
      color: #66CCCC;
      padding-bottom: 3%; } }
  @media screen and (max-width: 400px) {
    .tm-link {
      clear: both;
      padding-bottom: 5%; } }

.email {
  background: #FCF8F3;
  padding: 8em; }
  @media screen and (max-width: 770px) {
    .email {
      padding: 10em 0; } }
  @media screen and (max-width: 400px) {
    .email {
      padding: 4em 0; } }
  .email .text-container {
    font-family: Main Font Bold;
    color: #66CCCC;
    font-size: 1.8em;
    line-height: 1.5em; }
    @media screen and (max-width: 770px) {
      .email .text-container {
        width: 20em;
        margin: 0 auto; } }
    @media screen and (max-width: 400px) {
      .email .text-container {
        font-size: 1.2em;
        width: 13.5em; } }
    .email .text-container .email-address {
      color: #042B34; }

footer {
  width: 100%;
  height: auto;
  background: #042B34;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5% 5%; }
  @media screen and (max-width: 770px) {
    footer {
      padding: 15% 10%; } }
  @media screen and (max-width: 400px) {
    footer {
      padding: 10% 10%; } }

.info {
  font-family: Main Font;
  color: white;
  line-height: 1.5em;
  padding-left: 100px;
  width: 15em;
  letter-spacing: 0.0025em;
  font-size: 1.05em;
  text-align: left; }
  @media screen and (max-width: 400px) {
    .info {
      font-size: 0.8em; } }

.footer-logo {
  float: left; }
  @media screen and (max-width: 400px) {
    .footer-logo {
      clear: left; } }

/*# sourceMappingURL=styles.css.map */
