@font-face {
  font-family: "Main Font";
  src: url("../fonts/brown-regular.woff"); }
@font-face {
  font-family: "Main Font Bold";
  src: url("../fonts/brown-bold.woff"); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 70%;
  margin: 0 auto;
  text-align: center; }

a {
  text-decoration: none; }

.dark-blue-section {
  background: #042B34;
  width: 100%;
  font-size: 2em;
  line-height: 1.5em;
  color: white;
  font-family: Main Font;
  padding: 100px 0; }

.text-container {
  width: 26em;
  text-align: center;
  margin: 0 auto; }

.section-title {
  text-transform: uppercase;
  font-size: 0.65em;
  font-family: Main Font Bold;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 0.2em; }

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  background: white;
  z-index: 10; }
  @media screen and (max-width: 400px) {
    nav {
      display: none; } }
  @media screen and (max-width: 770px) {
    nav {
      display: none; } }
  nav ul {
    position: absolute;
    top: 40%; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        text-decoration: none;
        font-family: Main Font;
        color: #66CCCC;
        padding-right: 80px;
        padding-top: 20px;
        padding-bottom: 20px; }
      nav ul li:first-child {
        padding-right: 100px; }

header {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #FCF8F3; }
  header .header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 19em;
    font-family: Main Font; }
    header .header-container h1 {
      font-size: 4em;
      padding-bottom: 20px;
      color: #042B34; }
    header .header-container p {
      font-size: 1.5em;
      padding-bottom: 20px;
      color: rgba(0, 0, 0, 0.4);
      line-height: 1.5em; }
    header .header-container a {
      display: block;
      color: #66CCCC; }

.services {
  text-align: center;
  height: 71.7321%;
  width: 100%;
  background: #66CCCC;
  padding-top: 8.3645%;
  font-family: Main Font;
  color: white; }
  @media screen and (max-width: 400px) {
    .services {
      height: 100%; } }
  @media screen and (max-width: 770px) {
    .services {
      height: auto;
      padding: 15% 0; } }
  .services a {
    display: none; }
  .services h3 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
    font-size: 1.2em; }
    @media screen and (max-width: 400px) {
      .services h3 {
        margin-top: 10%; } }
  .services #picture {
    border: 1px solid white;
    width: 70.6922%;
    height: 45.979%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    background: #66CCCC; }
    @media screen and (max-width: 400px) {
      .services #picture {
        height: 30%;
        margin-top: 10%; } }
    @media screen and (max-width: 770px) {
      .services #picture {
        width: 60%;
        height: 250px; } }
    .services #picture span {
      text-align: center;
      margin: auto; }
  .services ul {
    margin-top: 1.5%; }
    @media screen and (max-width: 400px) {
      .services ul {
        margin-top: 10%;
        margin-bottom: 30px; } }
    @media screen and (max-width: 770px) {
      .services ul {
        padding-bottom: 50px; } }
    .services ul li {
      display: inline-block;
      list-style: none;
      margin-left: 8px;
      margin-right: 8px;
      color: #042B34;
      font-weight: bold; }
      @media screen and (max-width: 400px) {
        .services ul li {
          display: block;
          line-height: 35px; } }
      @media screen and (max-width: 770px) {
        .services ul li {
          display: block;
          line-height: 45px;
          font-size: 1.6em;
          letter-spacing: 0.05em; } }
      .services ul li:first-child {
        margin-left: 0; }

.projects-detailed .section-container {
  width: 70%;
  border-left: 5px solid rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  font-family: Main Font; }
  .projects-detailed .section-container .project-hidden {
    display: none; }
  .projects-detailed .section-container .project-container {
    width: 100%;
    padding-bottom: 5%; }
    .projects-detailed .section-container .project-container .picture {
      float: left;
      width: 20%;
      text-align: center; }
    .projects-detailed .section-container .project-container .project-info {
      float: right;
      width: 75%; }
      .projects-detailed .section-container .project-container .project-info .project-name {
        font-size: 1.5em;
        letter-spacing: 0.02em;
        color: #042B34;
        padding-bottom: 1em;
        font-family: Main Font Bold; }
      .projects-detailed .section-container .project-container .project-info .client-name {
        font-size: 1.5em;
        color: rgba(0, 0, 0, 0.4);
        padding-bottom: 1em;
        font-family: Main Font Bold; }
      .projects-detailed .section-container .project-container .project-info .project-description {
        float: left;
        width: 60%;
        line-height: 2em;
        color: rgba(0, 0, 0, 0.4);
        padding-bottom: 1em;
        padding-right: 5%; }
        .projects-detailed .section-container .project-container .project-info .project-description .read-more {
          display: none; }
      .projects-detailed .section-container .project-container .project-info .project-services {
        float: right;
        width: 33%;
        line-height: 2em;
        color: rgba(0, 0, 0, 0.4); }
        .projects-detailed .section-container .project-container .project-info .project-services h5 {
          color: #66CCCC;
          font-size: 0.7em;
          text-transform: uppercase;
          font-family: Main Font Bold;
          letter-spacing: 0.2em; }
    .projects-detailed .section-container .project-container .link {
      clear: both;
      padding-left: 25%; }
      .projects-detailed .section-container .project-container .link a {
        color: #66CCCC;
        padding-right: 3em; }
.projects-detailed .see-more {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #66CCCC;
  font-family: Main Font Bold;
  border: 2px solid #66CCCC;
  border-radius: 2px;
  padding: 10px 50px;
  text-align: center; }

.clients {
  background: #FCF8F3; }
  .clients .container {
    padding: 100px; }
    .clients .container h3 {
      font-family: Main Font Bold;
      text-transform: uppercase;
      font-size: 1.2em;
      color: #042B34;
      letter-spacing: 0.2em; }
    .clients .container .wrapper {
      width: 90%;
      margin: 0 auto;
      padding-top: 30px; }
      .clients .container .wrapper img {
        padding: 20px; }

.values-detailed {
  width: 100%;
  background: #66CCCC;
  text-align: center;
  color: white;
  font-family: Main Font; }
  .values-detailed .wrap {
    width: 80%;
    margin: 0 auto;
    padding: 5% 0; }
    .values-detailed .wrap .item {
      width: 17.58%;
      display: inline-block;
      text-align: center;
      margin: 0 75px; }
      .values-detailed .wrap .item:last-child p {
        width: 75%;
        margin: 0 auto; }
      .values-detailed .wrap .item .pic {
        border: 1px solid white;
        width: 100%;
        height: 170px;
        margin-bottom: 25px; }
      .values-detailed .wrap .item h3 {
        margin-bottom: 25px; }
      .values-detailed .wrap .item p {
        line-height: 1.5em;
        letter-spacing: 0.025em; }

.team {
  box-sizing: border-box;
  font-family: Main Font; }
  .team .team-container {
    width: 75%;
    margin: 8% auto;
    margin-top: 5%; }
    .team .team-container #team {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.1em;
      letter-spacing: 0.5em;
      font-weight: bold;
      color: #042B34; }
    .team .team-container .tm-container {
      width: 18em;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      margin-top: 3%;
      margin-bottom: 5%;
      padding: 2%; }
      .team .team-container .tm-container img {
        width: 80%;
        padding-bottom: 5%; }
      .team .team-container .tm-container .name {
        text-align: left;
        font-size: 1.5em;
        color: #042B34;
        padding: 10% 0;
        padding-bottom: 5%;
        letter-spacing: 0.05em; }
      .team .team-container .tm-container .position {
        color: #66CCCC;
        padding-bottom: 5%;
        font-weight: bold; }
      .team .team-container .tm-container .description {
        line-height: 2em;
        color: rgba(0, 0, 0, 0.5); }
      .team .team-container .tm-container .prev {
        padding-top: 5%;
        padding-bottom: 5%;
        color: #042B34;
        font-weight: bold; }
      .team .team-container .tm-container ul {
        padding-bottom: 5%; }
        .team .team-container .tm-container ul li {
          padding-bottom: 1.15em;
          line-height: 1.1em;
          color: rgba(0, 0, 0, 0.5); }
      .team .team-container .tm-container a {
        color: #66CCCC;
        text-decoration: none;
        padding-right: 20%; }

.email {
  background: #FCF8F3;
  padding: 8em; }
  .email .text-container {
    font-family: Main Font Bold;
    color: #66CCCC;
    font-size: 1.8em;
    line-height: 1.5em; }
    .email .text-container #email {
      color: #042B34; }

footer {
  width: 100%;
  height: auto;
  background: #042B34;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5% 5%; }
  footer .info {
    font-family: Main Font;
    color: white;
    line-height: 1.05em;
    padding-left: 100px;
    width: 15em;
    letter-spacing: 0.0025em;
    font-size: 1.05em; }
    @media screen and (max-width: 400px) {
      footer .info {
        position: static;
        width: 80%; } }
    @media screen and (max-width: 770px) {
      footer .info {
        width: 50%;
        padding-right: 10%; } }
  footer img {
    float: left; }
    @media screen and (max-width: 400px) {
      footer img {
        position: static;
        padding-bottom: 10%; } }

/*# sourceMappingURL=styles.css.map */
